.addCard__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* min-height: 100vh; */
  background-color: rgba(128, 128, 128, 0.742);
  z-index: 10;
  overflow: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card__container {
  position: relative;
  min-height: 80vh;
  min-width: 80vw;
  background-color: white;
  border-radius: var(--border-radius);
  padding: var(--padding);
  z-index: 10;
}

.card__content {
  position: absolute;
  top: var(--padding);
  bottom: 1rem;
  left: var(--padding);
  right: var(--padding);
  overflow: scroll;
  overscroll-behavior-y: none;
  padding: 0 1px;
}

.close__btn {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 1rem;
  border: 0;
  background-color: transparent;
}

.close__btn span {
  color: black;
}

.addForm {
  margin-top: var(--padding);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.addForm input {
  height: 40px;
}

.addForm textarea {
  min-height: 60px;
}

.addForm input,
.addForm textarea {
  margin-top: 4px;
  min-width: 100%;
  max-width: 100%;
  border-radius: 12px;
  border: 0.5px solid gray;
  padding: 1rem;
  font-size: 11.25pt;
}

.textarea {
  display: block;
  min-width: 100%;
  max-width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 100px;
  line-height: 20px;
  border: 0.5px solid gray;
  padding: 1rem;
  border-radius: 12px;
}

.required:after {
  content: " *";
  color: red;
}

.submit_wrapper {
  background-color: white;
  position: sticky;
  bottom: 0;
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
  margin: 0 -1px;
}

.submit_wrapper button {
  font-size: 11.25pt;
  width: 100%;
  height: 50px;
  border-radius: 60px !important;
  border: 0px;
}

.submit_wrapper button:nth-child(2) {
  color: white;
  background-color: var(--main-color);
}

.select__input {
  margin-top: 4px;
  width: 100%;
  height: 40px;
  border-radius: 50px;
  border: 0.5px solid gray;
  padding: 0 1rem;
}

.deleteBtn {
  background-color: #f32424;
  color: white;
}
