.appList__wrapper {
  border: 0.5px solid gray;
  padding: 6px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.appList__wrapper:hover {
  transition: all 0.3s;
  background-color: rgba(128, 128, 128, 0.278);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.appList__container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  gap: 1rem;
  margin-left: 1rem;
  overflow: hidden;
}

.appList__container p:nth-child(1) {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; /* NEW */
  font-weight: 600;
}

.appList__container p:nth-child(3) {
  width: fit-content;
  min-width: fit-content;
}
