.body__container {
  flex: 1;
  background: #f3f4f6;
  border-radius: var(--border-radius) var(--border-radius) var(--border-radius)
    var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  padding: var(--padding);
}

.add__btn {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 55px;
  height: 55px;
  z-index: 2;
}

.body__container::before,
.body__container::after {
  background-color: white;
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 90px;
  height: 84px;
  /* -webkit-clip-path: path(
      "m67,67c0-11.05-8.95-20-20-20h-7c-11.05,0-20-8.95-20-20v-7C20,8.95,11.05,0,0,0h67v67Z"
    ); */
  clip-path: polygon(
    -95.536% 22.308%,
    22.464% 22.308%,
    22.277% 19.261%,
    21.732% 16.161%,
    20.846% 13.094%,
    19.639% 10.15%,
    18.132% 7.416%,
    16.342% 4.982%,
    14.291% 2.935%,
    11.997% 1.363%,
    9.479% 0.356%,
    6.758% 0%,
    100% 0%,
    100% 99.687%,
    100% 99.687%,
    99.627% 96.661%,
    98.574% 93.861%,
    96.936% 91.309%,
    94.811% 89.027%,
    92.294% 87.04%,
    89.482% 85.369%,
    86.472% 84.037%,
    83.36% 83.067%,
    80.242% 82.483%,
    77.215% 82.305%,
    77.215% 82.305%,
    77.175% 82.306%,
    77.134% 82.306%,
    77.094% 82.307%,
    77.054% 82.307%,
    77.013% 82.307%,
    76.973% 82.307%,
    76.933% 82.307%,
    76.892% 82.308%,
    76.852% 82.308%,
    76.812% 82.308%,
    58.696% 82.308%,
    58.696% 82.308%,
    52.819% 81.804%,
    47.244% 80.347%,
    42.045% 78.015%,
    37.298% 74.887%,
    33.076% 71.043%,
    29.454% 66.561%,
    26.508% 61.521%,
    24.311% 56.003%,
    22.938% 50.085%,
    22.464% 43.846%,
    22.464% 22.308%,
    -966.667% 12.308%,
    -966.515% 10.311%,
    -966.076% 8.418%,
    -965.373% 6.652%,
    -964.43% 5.039%,
    -963.272% 3.605%,
    -961.921% 2.375%,
    -960.402% 1.374%,
    -958.738% 0.627%,
    -956.954% 0.161%,
    -955.072% 0%,
    -955.072% 0%,
    -966.667% 0%,
    -966.667% 12.308%,
    -953.623% 716.923%,
    -966.667% 716.923%,
    -966.667% 703.077%,
    -966.496% 705.323%,
    -966.002% 707.453%,
    -965.211% 709.44%,
    -964.15% 711.254%,
    -962.846% 712.868%,
    -961.326% 714.252%,
    -959.617% 715.378%,
    -957.746% 716.217%,
    -955.739% 716.742%,
    -953.623% 716.923%,
    -953.623% 716.923%,
    100% 703.077%,
    100% 716.923%,
    86.957% 716.923%,
    89.072% 716.742%,
    91.079% 716.217%,
    92.951% 715.378%,
    94.66% 714.252%,
    96.18% 712.868%,
    97.483% 711.254%,
    98.544% 709.44%,
    99.335% 707.453%,
    99.829% 705.323%,
    100% 703.077%,
    100% 703.077%
  );
}
